.animate-fade-in.padded(ng-cloak='')
  form(name='orderForm', app-form-submit='saveOrder()', ng-show='!$loading')
    md-card.new-order
      md-card-content
        div
          .text-details(ng-if='order.reference_id')
            | Order #
            span(ng-bind='order.reference_id')
          div(horizontal='', layout='')
            div(flex='')
              div
                md-input-container.full-width(flex='')
                  label
                    | Customer name
                  input(ng-model='order.name', ng-required='true', focus-me='focusFirst')
            div(flex='')
              md-input-container.full-width(flex='')
                label
                  | !{' '}
                input(ng-model='order.phone_number', ui-mask='(999)999-9999')
            div(flex='')
              md-input-container.full-width(flex='')
                label
                  | Email
                input(type='email', ng-model='order.email')
        div
          div(ng-repeat='ofp in order.order_products')
            div(horizontal='', layout='')
              div
                md-button.md-icon-button.md-default(type='button', ng-show="ofp.product_type == 'special_product'", ng-click="setToFrontProduct(ofp)")
                  md-icon(md-font-icon='fa fa-star')
                  md-tooltip
                    | Special Product
                md-button.md-icon-button.md-default(type='button', ng-show="ofp.product_type != 'special_product'", ng-click="setToSpecialProduct(ofp)")
                  md-icon(md-font-icon='fa fa-star-o')
                  md-tooltip
                    | Front Product
              div(flex='50', ng-if="ofp.product_type != 'special_product'")
                md-autocomplete(aria-label='Product Name', md-search-text='ofp.name',
                  md-items="item in products | orderBy:'-rating' | filter:ofp.name | pluck:'id'",
                  md-item-text='getProductName(item)', md-selected-item='ofp.front_product',
                  md-selected-item-change='ofpFrontProductChanged(ofp)', md-selected-item-required='orderFrontProductRequired(ofp)',
                  md-min-length='0', md-floating-label="Product Name", ng-required="orderFrontProductRequired(ofp)")
                  md-item-template
                    md-icon(md-font-icon='fa fa-star' ng-visible="getProductIsStarred(item)")
                    span(ng-cloak='', md-highlight-text='ofp.name')
                      | [[ getProductName(item) ]]
                  md-not-found
                    | No products found.
              div(flex='50', ng-if="ofp.product_type == 'special_product'")
                md-input-container.full-width
                  label
                    | Product Name
                  input(aria-label='Product Name', type='text', ng-model='ofp.name', ng-required='orderFrontProductRequired(ofp)')
              md-input-container()
                label
                  | Quantity
                input(aria-label='Quantity', type='number', integer='', min='1', ng-model='ofp.quantity', ng-required='orderFrontProductRequired(ofp)')
              div(flex='25')
                md-input-container.full-width
                  label
                    | Quantity Type
                  md-select(aria-label='Quantity type', ng-model='ofp.quantity_type', ng-required='orderFrontProductRequired(ofp)')
                    md-option(ng-repeat='dt in $quantityTypes', value='[[ dt.id ]]')
                      | [[ dt.name ]]
              div
                md-button.md-icon-button.md-default(type='button', ng-click='removeOrderProduct(ofp)')
                  md-icon(md-font-icon='fa fa-times-circle')
                  md-tooltip
                    | Remove Product
          .text-right
            md-button.md-icon-button.md-default(type='button', ng-click='addOrderFrontProduct()')
              md-icon(md-font-icon='fa fa-plus-circle')
              md-tooltip
                | Add Product
        .warning-box(ng-if="order.comment")
          p
            b
              | Before adding a comment to an order
          ul
            li
              | Special products (e.g. "individually wrapped cheese buns") should
              | be created by clicking the
              | !{' '}
              md-icon(md-font-icon="fa fa-star-o")
              | !{' '}
              | button and typing in the product description
            li
              | If you must add packing instructions here, you
              | !{' '}
              b MUST
              | !{' '}
              | mark the order as
              | !{' '}
              md-icon(md-font-icon='fa fa-flag-o')
              | !{' '}
              | Special Care
            li
              | If you are ordering a cake along with one or more products, please create two separate orders
            li
              | If you also created a cake order, please mark with
              | !{' '}
              md-icon(md-font-icon='fa fa-flag-o')
              | !{' '}
              | With Cake
        md-input-container.full-width
          label
            | Comments
          textarea(ng-model='order.comment')
        div.p-horizontal-5(layout="row")
          div
            a.md-button.md-default(ng-if="!order.stripe_invoice_id && !order.stripe_charge_id", ng-click="toggleMarkedAsPaid(order)", ng-class="{'md-primary': orderIsPaidOrPendingPayment(order)}")
              md-tooltip
                | Toggle whether or not order is paid
              md-icon(ng-if="!order.marked_as_paid", md-font-icon='fa fa-credit-card')
              md-icon(ng-if="order.marked_as_paid", md-font-icon='fa fa-credit-card-alt')
              | !{' '}
              span(ng-if="order.marked_as_paid")
                | Marked as Paid
              span(ng-if="!order.marked_as_paid")
                | Unpaid
            a.md-button.md-default(ng-if="order.stripe_invoice_id || order.stripe_charge_id", target="_blank", ng-class="{'md-primary': orderIsPaidOrPendingPayment(order)}")
              md-icon(md-font-icon="fa fa-credit-card-alt")
              | !{' '}
              | [[order.purchase_status_text]]
          div
            include includes/_order-payment-method-button
          div(flex="")
          div
            include includes/_order-created-button
        div
          .warning-box(ng-if="$hasSpecialProduct")
            p
              | When you are creating a special product, please consider warning the appropriate
              | teams using the
              | !{' '}
              md-icon(md-font-icon='fa fa-flag-o')
              | !{' '}
              | flags below
          span.p-horizontal-5(ng-repeat='flag in orderFlags')
            a.md-button.md-default(ng-show='!orderHasFlag(flag)', ng-click='addOrderFlag(flag)', style='opacity: 0.7', tabindex='-1')
              md-icon(md-font-icon='fa fa-flag-o')
              span(ng-bind='flag.name')
              md-tooltip
                | Mark for [[ flag.name ]]
            a.md-button.md-primary(ng-show='orderHasFlag(flag)', ng-click='removeOrderFlag(flag)')
              md-icon(md-font-icon='fa fa-flag')
              span(ng-bind='flag.name')
              md-tooltip
                | Unmark for [[ flag.name ]]
        md-divider
        div
          div(horizontal='', layout='')
            .datepicker-wrapper
              md-datepicker(ng-required='true', ng-model='order.date', md-placeholder="Select Date")
            div(flex='')
              md-autocomplete(aria-label='Time', md-search-text='$timeSearch', md-items="item in $timeOptions | filter:$timeSearch | pluck:'str'", md-item-text='getTimeStr(item)', md-selected-item='order.time', md-min-length='0', md-floating-label="Time")
                md-item-template
                  span(ng-cloak='', md-highlight-text='$timeSearch')
                    | [[ getTimeStr(item) ]]
                md-not-found
                  | No time found.
            md-input-container(flex='')
              label
                | Total Price ($)
              input(aria-label='Total Price', type='number', integer='', min='0', step='0.01', ng-model='order.custom_price')
      .text-right
        span
          md-checkbox.md-icon-button(ng-model="$printOrderAfterSave")
            | Print order after save
          md-checkbox.md-icon-button(aria-label="Send Invoice", ng-model="$sendOrResendStripeInvoice" ng-disabled="!canSendStripeInvoice(order)")
            md-tooltip(ng-if="canSendStripeInvoice(order) && !order.stripe_charge_id")
              | If checked, customer will be sent an email to pay for order via Stripe.
              | This invoice will be marked as paid once the transaction is complete.
            md-tooltip(ng-if="canSendStripeInvoice(order) && order.stripe_invoice_id")
              | If checked, customer will be re-sent an email to pay for order via Stripe.
              | The old invoice will be discarded, and the customer will be refunded (if applicable).
            md-tooltip(ng-if="!canSendStripeInvoice(order)")
              | Email and total price are required
            span(ng-if="order.stripe_invoice_id")
              | Re-send invoice
            span(ng-if="!order.stripe_invoice_id")
              | Send invoice
          md-checkbox.md-icon-button(aria-label="Mark Invoice as Paid", ng-model="$markInvoiceAsPaid", ng-disabled="!$sendOrResendStripeInvoice")
            md-tooltip(ng-if="!$sendOrResendStripeInvoice")
              | "Send Invoice" must be checked
            md-tooltip(ng-if="$sendOrResendStripeInvoice")
              | Use this to send an invoice email to the user without requiring payment.
            | Mark Invoice as Paid
        md-button.md-button.md-raised.md-primary(aria-label="Save", type='submit', btn-disabled='orderForm.$submitting')
          span(btn-loading='', btn-loading-text="Save", btn-loading-icon='fa fa-check')
  div(ng-if='$loading')
    include ../generic/partials/full-loader
