.padded(ng-cloak='', ng-controller='FillOrderController')
  div
    div(layout-sm='column', layout-gt-sm='row')
      div(flex='')
        md-input-container.md-icon-float(flex='')
          label
            | Search
          md-icon(md-font-icon='fa fa-search')
          input.order-search.form-control(ng-model='params.q', type='text', enter-key-event='pickupOrderEnterEvent()', ng-change='hideAllOrderDetails()')
      div
        div(layout='')
          div(flex='')
          md-menu(style='padding: 0')
            md-button.md-icon-button(aria-label='Open options menu', ng-click='$mdMenu.open($event)')
              md-icon(md-font-icon='fa fa-filter')
              md-tooltip
                | Search Options
            md-menu-content(width='4')
              md-menu-item
                md-button(ng-click='toggleFillOrderVisible()', aria-label='Toggle filled orders')
                  span(ng-if='params.filled == null')
                    md-icon(md-font-icon='fa fa-eye-slash')
                    | Show only filled orders
                  span(ng-if='params.filled == false')
                    md-icon(md-font-icon='fa fa-eye')
                    | Show all orders
              md-menu-item
                md-button(ng-click='toggleWithTimeOnly()', aria-label='Toggle orders with unknown times')
                  span(ng-if='!params.hasTime')
                    md-icon(md-font-icon='fa fa-eye-slash')
                    | Hide orders with unknown times
                  span(ng-if='params.hasTime')
                    md-icon(md-font-icon='fa fa-eye')
                    | Show orders with unknown times
              md-menu-divider
              md-menu-item(ng-repeat='orderFlag in orderFlags')
                md-button(ng-if='!(params.orderFlags|contains:orderFlag.id)', ng-click='$addOrderFlag(orderFlag.id)')
                  i.fa.fa-flag-o
                  | !{' '}Filter by!{' '}
                  span(ng-bind='orderFlag.name')
                md-button(ng-if='params.orderFlags|contains:orderFlag.id', ng-click='$removeOrderFlag(orderFlag.id)')
                  i.fa.fa-flag
                  | !{' '}Filter by!{' '}
                  span(ng-bind='orderFlag.name')
              md-menu-divider
              md-menu-item(ng-repeat='orderFlag in orderFlags')
                md-button(ng-if='!(params.orderFlagsOmit|contains:orderFlag.id)', ng-click='$addOrderFlagOmit(orderFlag.id)')
                  i.fa.fa-flag-o
                  | !{' '}Exclude by!{' '}
                  span(ng-bind='orderFlag.name')
                md-button(ng-if='params.orderFlagsOmit|contains:orderFlag.id', ng-click='$removeOrderFlagOmit(orderFlag.id)')
                  i.fa.fa-flag
                  | !{' '}Exclude by!{' '}
                  span(ng-bind='orderFlag.name')
          md-button.md-icon-button(ng-visible='!$loading && !$bgLoading', ng-click='$forceBgLoad()')
            md-icon(md-font-icon='fa fa-refresh')
            md-tooltip
              | Reload
          md-button.md-icon-button.md-primary(ng-click='showProductsNotReadyDialog($event)')
            md-icon(md-font-icon='fa fa-exclamation-circle')
            md-tooltip
              | Show/hide products not ready
          md-button.md-icon-button.md-primary(ng-click='showMoveOrderLocationsDialog($event)')
            md-icon(md-font-icon='fa fa-map-marker')
            md-tooltip
              | Move order locations
          md-button.md-icon-button.md-primary(ng-click='showQuickAddOrderModal($event)')
            md-icon(md-font-icon='fa fa-plus')
            md-tooltip
              | Add Order
          md-datepicker(ng-model='date', md-placeholder='Select Date')
  .text-details.md-caption(horizontal='', layout='')
    div(flex='')
      span.p-horizontal-5(ng-repeat='warning in $warnings')
        i.fa.fa-warning
        | !{' '}
        span(ng-bind='warning')
    div
      span.text-muted(ng-show='!$loading && dateSelected()')
        span(ng-bind='stats.filled')
        | !{' '}of!{' '}
        span(ng-bind='stats.total')
        | !{' '}filled
  div(ng-show='!$loading', ng-class="{'order-search-fade': $filterLoader}")
    div(ng-show='dateSelected()')
      div(layout='row', layout-wrap='', layout-align='space-around stretch', layout-sm="column")
        .animate-fade-in.animate-fade-out.animate-fade-move(ng-repeat='order in $paginatedOrders track by order.id', flex='100', flex-gt-md='33')
          md-card.order.animate-bg-color(ng-class='order.$status().bgClass')
            md-card-content
              .section
                div(horizontal='', layout='')
                  .md-title.p-vertical-10(flex='')
                    i.fa(ng-class='order.$status().iconClass')
                      md-tooltip
                        span(ng-bind='order.$status().name')
                    | !{' '}
                    span(ng-bind='order.name')
                  span
                    md-button.md-icon-button.md-primary(ng-click='markOrderInProgress(order)', ng-if='!order.in_progress', ng-disabled='order.filled')
                      md-icon(md-font-icon='fa fa-user-times')
                      md-tooltip
                        | Order not being filled
                    md-button.md-icon-button.md-primary(ng-click='markOrderNotInProgress(order)', ng-if='order.in_progress', ng-disabled='order.filled')
                      md-icon(md-font-icon='fa fa-user')
                      md-tooltip
                        | Order is being filled
                  span
                    md-button.md-icon-button.md-primary(ng-click='fillOrder($event, order)', ng-if='!order.filled')
                      md-icon(md-font-icon='fa fa-square-o')
                      md-tooltip
                        | Order is not filled
                    md-button.md-icon-button.md-primary(ng-click='unFillOrder(order)', ng-if='order.filled')
                      md-icon(md-font-icon='fa fa-check-square-o')
                      md-tooltip
                        | Order is filled
                  md-menu(style='padding: 0')
                    md-button.md-icon-button(aria-label='Open options menu', ng-click='$mdMenu.open($event)')
                      md-icon(md-font-icon='fa fa-bars')
                      md-tooltip
                        | Order Actions
                    md-menu-content(width='4')
                      md-menu-item
                        md-button(ng-href='/orders/[[order.id]]/edit/?close_on_save=true', target='_blank')
                          md-icon(md-font-icon='fa fa-edit')
                          | Edit
                      md-menu-item
                        md-button(ng-click='selectOrderLocation($event, order)')
                          md-icon(md-font-icon='fa fa-map-marker')
                          | Edit Location
                      md-menu-item
                        md-button(ng-if='!order.picked_up', ng-click='pickupOrder(order)')
                          md-icon(md-font-icon='fa fa-check')
                          span
                            | Mark picked up
                        md-button(ng-if='order.picked_up', ng-click='returnOrder(order)')
                          md-icon(md-font-icon='fa fa-undo')
                          span
                            | Mark not picked up
                      md-menu-item
                        md-button(ng-click='showCancelOrderModal($event, order)')
                          md-icon(md-font-icon='fa fa-times')
                          | Cancel Order
                      md-menu-item
                        md-button(ng-href='/orders/[[order.id]]/print?close_on_save=true', target='_blank')
                          md-icon(md-font-icon='fa fa-print')
                          span
                            | Print Order
                include includes/_order-header-info-1
              md-divider
              .section
                .animate-color(ng-repeat='ofp in order.order_products track by ofp.id', ng-class="{'text-green': ofp.filled}")
                  div(horizontal='', layout='')
                    .text-padding(flex='')
                      md-icon(md-font-icon='fa fa-star' ng-visible="ofp.is_starred", ng-class="{'text-green': sp.filled}")
                      | !{' '}
                      span(ng-bind='ofp.description')
                    span.no-print
                      md-button.md-icon-button(ng-click='toggleFillOrderProduct(ofp, order)', ng-show='!ofp.filled')
                        md-icon(md-font-icon='fa fa-square-o')
                        md-tooltip
                          | Product is not filled
                      md-button.md-icon-button(ng-click='toggleFillOrderProduct(ofp, order)', ng-show='ofp.filled')
                        md-icon(md-font-icon='fa fa-check-square-o text-green')
                        md-tooltip
                          | Product is filled
                div
                  include includes/_order-comment
              div(layout="row")
                div
                  include includes/_order-payment-status-button
                div
                  include includes/_order-payment-method-button
                div(flex="")
                div
                  include includes/_order-created-button
              div
                md-button(ng-repeat='flag in order.$orderFlags track by flag.id', aria-label='[[ flag.name ]]')
                  md-icon(md-font-icon='fa fa-flag')
                  | !{' '}
                  span(ng-bind='flag.name')
              md-divider
              .section
                div(horizontal='', layout='')
                  div(flex='')
                    span(ng-bind='order.$dateStr')
                  .text-center(flex='', ng-if='order.$location')
                    i.fa.fa-map-marker
                    | !{' '}
                    span(ng-bind='order.$location.hotkey')
                  .text-center(flex='', ng-if='order.custom_price')
                    span(ng-bind="order.custom_price | currency")
                  .text-right(flex='')
                    span(ng-if='order.time', ng-bind='order.$timeStr')
                    span(ng-if='!order.time')
                      | (Unknown)
        .full-width(ng-if='!$loading && $hasMoreOrders')
          md-button.md-raised.md-primary.full-width(ng-click='$showMoreOrders()')
            | Show More Orders
      div(ng-show='$filteredOrders.length == 0')
        .not-found
          div
            | No orders found!
      div
        include includes/_force-show-suggestions
        include includes/_order-suggestions
    .not-found(ng-show='!dateSelected()')
      | Please select a date!
  div(ng-if='$loading || $pageThrottle || $filterLoader')
    include ../generic/partials/full-loader
