div(ng-cloak='', ng-controller='OrderListController')
  div(style='padding-top: 30px')
    .p-horizontal-15(horizontal='', layout='')
      md-input-container.md-icon-float(flex='')
        label
          | Search by name, phone #, etc.
        md-icon(md-font-icon='fa fa-search')
        input(ng-model='params.q', focus-default='', type='text')
  div(ng-show='!$loading')
    md-list
      .animate-fade-in(ng-repeat='order in orderManager.page.results track by order.id')
        md-card.padded
          div(horizontal='', layout='')
            div(flex="80")
              div(layout="column", layout-gt-sm="row", layout-align="start stretch")
                .p-vertical-10.md-title(flex='')
                  a.text-reset(ng-bind='order.name', ng-href='/dashboard/orders/[[order.id]]/edit/?close_on_save=true', target='_blank')
                .p-vertical-15(flex='', ng-bind='order.phone_number | phoneNumber')
                .p-vertical-15(flex='', ng-bind='order.email')
                .p-vertical-15(flex="", ng-bind="order.custom_price | currency")
            div(flex="20")
              div(layout="column", layout-gt-sm="row", layout-align="end stretch")
                .p-vertical-15(flex='', ng-bind="order.date | date:'MMM d'")
                .p-vertical-15(flex='', ng-bind="order.time | parseTime | date:'shortTime'")
            md-menu(style='padding: 0')
              md-button.md-icon-button(aria-label='Open options menu', ng-click='$mdMenu.open($event)')
                md-icon(md-font-icon='fa fa-bars')
                md-tooltip
                  | Order Actions
              md-menu-content(width='4')
                md-menu-item
                  md-button(ng-href='/orders/[[order.id]]/edit/?close_on_save=true', target='_blank')
                    md-icon(md-font-icon='fa fa-edit')
                    | Edit Order
                md-menu-item
                  md-button(ng-click='showCancelOrderModal($event, order)')
                    md-icon(md-font-icon='fa fa-times')
                    | Cancel Order
                md-menu-item
                  md-button(ng-href='/orders/[[order.id]]/print?close_on_save=true', target='_blank')
                    md-icon(md-font-icon='fa fa-print')
                    span
                      | Print Order
          div
            div(ng-show='order.order_products.isEmpty()')
              | (No products on order)
            div(ng-repeat='ofp in order.order_products')
              md-icon(md-font-icon='fa fa-minus', style='visibility: hidden;')
                md-tooltip
                  | Product
              md-icon(md-font-icon="fa fa-star", tooltip="Special Product" ng-visible="ofp.is_starred")
              | !{' '}
              span(ng-bind='ofp.description')
            div
              include includes/_order-payment-status-button
              include includes/_order-payment-method-button
              include includes/_order-created-button
            include includes/_order-comment
            div(ng-show='!order.order_flags.isEmpty()')
              md-button(ng-repeat='flag in order.$orderFlags')
                md-icon(md-font-icon='fa fa-flag')
                span(ng-bind='flag.name')
    div(page-manager-display='orderManager')
  div(ng-if='$loading')
    include ../generic/partials/full-loader
