@import '../_constants';

.new-order {
  margin: auto;
  max-width: 800px;
}

.order-stats {
  .editor-table {
    .detailed-list {
      padding: 5px 0 5px 30px;
      color: $text-details;
    }
  }
}


.order-search-fade {
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}

.order-comment {
  md-icon {
    padding-right: 5px;
  }
}

.warning-box {
  padding: 1em;
  background-color: #FFF2E0;

  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  li {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-left: 1.5em;
    list-style-type: circle;
  }
}