.padded(ng-cloak="", ng-controller="PickupOrderController")
  div
    div(layout-sm="column", layout-gt-sm="row")
      div(flex="")
        md-input-container.md-icon-float(flex="")
          label
            | Search
          md-icon(md-font-icon="fa fa-search")
          input.order-search.form-control(focus-default="", ng-model="params.q", type="text", enter-key-event="pickupOrderEnterEvent()")
      div
        div(layout="")
          div(flex="")
          md-menu(style="padding: 0")
            md-button.md-icon-button(aria-label="Open options menu", ng-click="$mdMenu.open($event)")
              md-icon(md-font-icon="fa fa-filter")
              md-tooltip
                | Search Options
            md-menu-content(width="4")
              md-menu-item
                md-button(ng-click="togglePickedUp()", aria-label="Toggle picked up orders")
                  span(ng-if="params.picked_up != false")
                    md-icon(md-font-icon="fa fa-eye-slash")
                    | Hide picked up orders
                  span(ng-if="params.picked_up == false")
                    md-icon(md-font-icon="fa fa-eye")
                    | Show picked up orders
              md-menu-divider
              md-menu-item(ng-repeat="orderFlag in orderFlags")
                md-button(ng-if="orderFlag.id != params.order_flags", ng-click="params.order_flags = orderFlag.id")
                  i.fa.fa-flag-o
                  | !{' '}Filter by!{' '}
                  span(ng-bind="orderFlag.name")
                md-button(ng-if="orderFlag.id == params.order_flags", ng-click="params.order_flags = null")
                  i.fa.fa-flag
                  | !{' '}Filter by!{' '}
                  span(ng-bind="orderFlag.name")
          md-button.md-icon-button(ng-visible="!$loading && !$bgLoading", ng-click="$forceBgLoad()")
            md-icon(md-font-icon="fa fa-refresh")
            md-tooltip
              | Reload
          md-button.md-icon-button.md-primary(ng-click="showQuickAddOrderModal($event)")
            md-icon(md-font-icon="fa fa-plus")
            md-tooltip
              | Add Order
          md-datepicker(ng-model="date", md-placeholder="Select Date")
  .text-details.md-caption(horizontal="", layout="")
    div(flex="")
      span.p-horizontal-5(ng-repeat="warning in $warnings")
        i.fa.fa-warning
        | !{' '}
        span(ng-bind="warning")
    div
      span.text-muted(ng-if="!$loading && dateSelected()")
        span(ng-bind="stats.picked_up")
        |
        | of
        |
        span(ng-bind="stats.total")
        |
        | picked up
  div(ng-if="!$loading", ng-class="{'order-search-fade': $filterLoader}")
    div(ng-if="dateSelected()")
      md-list
        .animate-fade-in.animate-fade-out.animate-fade-move(ng-repeat="order in $paginatedOrders track by order.id")
          md-card.padded.animate-bg-color(ng-class="order.$status().bgClass")
            div(horizontal="", layout="")
              include includes/_order-header-info-2
              md-menu(style="padding: 0")
                md-button.md-icon-button(aria-label="Open options menu", ng-click="$mdMenu.open($event)")
                  md-icon(md-font-icon="fa fa-bars")
                  md-tooltip
                    | Order Actions
                md-menu-content(width="4")
                  md-menu-item
                    md-button(ng-href="/orders/[[order.id]]/edit/?close_on_save=true", target="_blank")
                      md-icon(md-font-icon="fa fa-edit")
                      | Edit
                  md-menu-item
                    md-button(ng-click="selectOrderLocation($event, order)")
                      md-icon(md-font-icon="fa fa-map-marker")
                      | Edit Location
                  md-menu-item
                    md-button(ng-if="!order.filled", ng-click="fillOrder(order)")
                      md-icon(md-font-icon="fa fa-check")
                      span
                        | Mark filled
                    md-button(ng-if="order.filled", ng-click="unFillOrder(order)")
                      md-icon(md-font-icon="fa fa-undo")
                      span
                        | Mark un-filled
                  md-menu-item
                    md-button(ng-click='showCancelOrderModal($event, order)')
                      md-icon(md-font-icon='fa fa-times')
                      | Cancel Order
                  md-menu-item
                    md-button(ng-href='/orders/[[order.id]]/print?close_on_save=true', target='_blank')
                      md-icon(md-font-icon='fa fa-print')
                      span
                        | Print Order
            div(layout="row", layout-sm="column")
              div(flex="")
                div(ng-if="order.order_products.isEmpty()")
                  | (No products on order)
                div(ng-repeat="ofp in order.order_products track by ofp.id")
                  md-icon(md-font-icon="fa fa-star" ng-visible="ofp.is_starred")
                    md-tooltip
                      | Special Product
                  | !{' '}
                  span(ng-bind="ofp.description")
                div
                  include includes/_order-payment-status-button
                  include includes/_order-payment-method-button
                  include includes/_order-created-button
                include includes/_order-comment
                div(ng-if="!order.order_flags.isEmpty()")
                  md-button(ng-repeat="flag in order.$orderFlags track by flag.id", aria-label="[[ flag.name ]]")
                    md-icon(md-font-icon="fa fa-flag")
                    | !{' '}
                    span(ng-bind="flag.name")
              div(flex="45", flex-sm="100")
                div(layout="column")
                  div(layout="column", layout-gt-md="row")
                    a.md-button.md-primary(flex="", aria-label="Order Reference ID")
                      | #
                      span(ng-bind="order.reference_id")
                      md-tooltip
                        | Order Reference ID
                    a.md-button.md-primary(flex="", aria-label="[[ order.$location | orderLocationDisplay ]]")
                      i.fa.fa-map-marker
                      | !{' '}
                      span(ng-if="order.location", ng-bind="order.$location | orderLocationDisplay")
                      span(ng-if="!order.location")
                        | (N/A)
                      md-tooltip
                        span(ng-bind="order.$location | orderLocationDisplay")
                    a.md-button.md-primary(flex="", aria-label="Current Status")
                      i.fa(ng-class="order.$status().iconClass")
                      | !{' '}
                      span(ng-class="", ng-bind="order.$status().name")
                      md-tooltip
                        | Current Status
                  a.md-button.md-primary.md-raised(aria-label="Pickup Order", ng-if="!order.picked_up", ng-click="pickupOrder($event, order)")
                    md-icon(md-font-icon="fa fa-check")
                    |                       Pickup
                    md-tooltip
                      | Pickup Order
                  a.md-button.md-raised(aria-label="Return Order", ng-if="order.picked_up", ng-click="returnOrder(order)")
                    md-icon(md-font-icon="fa fa-undo")
                    |                       Return
                    md-tooltip
                      | Return Order
      .full-width(ng-if="!$loading && $hasMoreOrders")
        md-button.md-raised.md-primary.full-width(ng-click="$showMoreOrders()")
          | Show More Orders
      div(ng-if="$filteredOrders.length == 0")
        .not-found
          div
            | No orders found!
      div
        include includes/_force-show-suggestions
        include includes/_order-suggestions
    .not-found(ng-if="!dateSelected()")
      | Please select a date!
  div(ng-if="$loading || $pageThrottle || $filterLoader")
    include ../generic/partials/full-loader
