div(ng-controller='PrintOrderController')
  // Inject @page styling into DOM dynamically
  style(type="text/css" media="print" ng-bind="printMethod.pageStyle")
  .order-report.label-paper
    .order-display(ng-show='!$loading')
      .order-wrapper(ng-repeat='orderSlip in orderSlipMap[order.id] track by orderSlip.$id')
        include ./includes/_order-slip
        .order-divider.no-print
    div(ng-if="$loading")
      include ../generic/partials/full-loader
