.order-stats.padded(ng-cloak="", ng-controller="StatsOrderController")
  div
    div(horizontal="", layout="")
      md-input-container.md-icon-float(flex="")
        label
          | Search
        md-icon(md-font-icon="fa fa-search")
        input.order-search.form-control(focus-default="", ng-change="hideAllOrderDetails()", ng-model="params.q", type="text")
      md-datepicker(ng-model="date", md-placeholder="Select Date")
  div(ng-show="!$loading")
    div(ng-show="dateSelected()")
      div(ng-show="!filteredProductStats.isEmpty()")
        table.editor-table.orders-status(ng-show="!filteredProductStats.isEmpty()")
          thead
            tr
              td
                | Product
              td
                | Total
              td
                | To be Filled
              td
                | To be Picked Up
          tbody
            tr.animate-fade-in.animate-fade-out(ng-repeat="product in (filteredProductStats = (productStats | filter:params.q))", ng-class-odd="'odd'")
              td.medium-large-font
                md-icon(md-font-icon="fa fa-star", tooltip="Special Product" ng-visible="product.is_starred")
                | !{' '}
                span(ng-bind="product.name")
              td
                span(ng-bind="$productQuantity(product.totals.total, product.quantity_type) | productQuantity")
                | !{' '}
                span(ng-bind="$quantityType(product.quantity_type).name")
                ul.detailed-list
                  li(ng-show="obj.total > 0", ng-repeat="(key, obj) in product.totals.quantity_types")
                    span(ng-bind="$productQuantity(obj.total, key) | productQuantity")
                    | !{' '}
                    span(ng-bind="$quantityType(key).name")
              td
                span(ng-bind="$productQuantity(product.totals.to_be_filled, product.quantity_type) | productQuantity")
                | !{' '}
                span(ng-bind="$quantityType(product.quantity_type).name")
                ul.detailed-list
                  li(ng-show="obj.to_be_filled > 0", ng-repeat="(key, obj) in product.totals.quantity_types")
                    span(ng-bind="$productQuantity(obj.to_be_filled, key) | productQuantity")
                    | !{' '}
                    span(ng-bind="$quantityType(key).name")
              td
                span(ng-bind="$productQuantity(product.totals.to_be_picked_up, product.quantity_type) | productQuantity")
                | !{' '}
                span(ng-bind="$quantityType(product.quantity_type).name")
                ul.detailed-list
                  li(ng-show="obj.to_be_picked_up > 0", ng-repeat="(key, obj) in product.totals.quantity_types")
                    span(ng-bind="$productQuantity(obj.to_be_picked_up, key) | productQuantity")
                    | !{' '}
                    span(ng-bind="$quantityType(key).name")
    div(ng-if="filteredProductStats.isEmpty()")
      .not-found
        | No products found!
  .not-found(ng-show="!dateSelected()")
    | Please select a date!
  div(ng-if="$loading")
    include ../generic/partials/full-loader
