.padded(ng-cloak="", ng-controller="VerifyOrderController as ctrl")
  div
    div(horizontal="", layout="")
      md-input-container.md-icon-float(flex="")
        label
          | Search
        md-icon(md-font-icon="fa fa-search")
        input.order-search.form-control(focus-default="", ng-enter="verifyOrderEnterEvent()", ng-change="hideAllOrderDetails()", ng-model="params.q", type="text")
      md-menu(style="padding: 0")
        md-button.md-icon-button(aria-label="Open options menu", ng-click="$mdMenu.open($event)")
          md-icon(md-font-icon="fa fa-cog")
          md-tooltip
            | Search Options
        md-menu-content(width="4")
          md-menu-item
            md-button(ng-click="toggleVerified()")
              span(ng-show="params.verified != false")
                md-icon(md-font-icon="fa fa-eye-slash")
                |                     Hide verified orders
              span(ng-show="params.verified == false")
                md-icon(md-font-icon="fa fa-eye")
                |                     Show verified orders
      md-button.md-icon-button(ng-visible="!$loading && !$bgLoading", ng-click="$forceBgLoad()")
        md-icon(md-font-icon="fa fa-refresh")
        md-tooltip
          | Reload
      md-datepicker(ng-model="date", md-placeholder="Select Date")
  div(ng-show="!$loading", ng-class="{'order-search-fade': $filterLoader}")
    md-list
      .animate-fade-in.animate-fade-out.animate-fade-move(ng-repeat="order in $filteredOrders track by order.id")
        md-card.padded.animate-bg-color(ng-class="{'bg-green-50': order.verified}")
          div(horizontal="", layout="")
            include includes/_order-header-info-2
            div
              a.md-button.md-icon-button(ng-show="!order.verified", ng-click="verifyOrder(order)")
                md-icon(md-font-icon="fa fa-square-o text-red")
                md-tooltip
                  | Order unverified
              a.md-button.md-icon-button(ng-show="order.verified", ng-click="unVerifyOrder(order)")
                md-icon(md-font-icon="fa fa-check-square-o text-green")
                md-tooltip
                  | Order verified
            md-menu(style="padding: 0")
              md-button.md-icon-button(aria-label="Open options menu", ng-click="$mdMenu.open($event)")
                md-icon(md-font-icon="fa fa-bars")
                md-tooltip
                  | Order Actions
              md-menu-content(width="4")
                md-menu-item
                  md-button(ng-href="/orders/[[order.id]]/edit/?close_on_save=true", target="_blank")
                    md-icon(md-font-icon="fa fa-edit")
                    | Edit Order
                md-menu-item
                  md-button(ng-click='showCancelOrderModal($event, order)')
                    md-icon(md-font-icon='fa fa-times')
                    | Cancel Order
                md-menu-item
                  md-button(ng-href='/orders/[[order.id]]/print?close_on_save=true', target='_blank')
                    md-icon(md-font-icon='fa fa-print')
                    span
                      | Print Order
          div
            div(ng-show="order.order_products.isEmpty()")
              | (No products on order)
            div(ng-repeat="ofp in order.order_products")
              md-icon(md-font-icon="fa fa-star" ng-visible="ofp.is_starred")
                md-tooltip
                  | Special Product
              | !{' '}
              span(ng-bind='ofp.description')
            include includes/_order-comment
            div
              include includes/_order-payment-status-button
              include includes/_order-payment-method-button
              include includes/_order-created-button
            div(ng-if="!order.order_flags.isEmpty()")
              md-button(ng-repeat="flag in order.$orderFlags")
                md-icon(md-font-icon="fa fa-flag")
                | !{' '}
                span(ng-bind="flag.name")
  div(ng-if="$loading")
    include ../generic/partials/full-loader
