a.md-button.md-default.text-details(ng-if="order.id")
  md-tooltip
    | Created: [[ order.created | date:'medium' ]],
    | Last Updated: [[ order.updated | date:'medium' ]]
  md-icon(md-font-icon='fa fa-clock-o')
  span(ng-bind="order.created | date:'shortDate'")