md-card.order
  md-card-content.order-content(layout="column")
    div(flex="", layout="column", layout-align="start stretch")
      .section
        .md-title
          i.fa(ng-class="order.$status().iconClass")
            md-tooltip
              span(ng-bind="order.$status().name")
          | !{' '}
          span(ng-bind='order.name')
        include ./_order-header-info-1
      md-divider.section-divider
      .order-slip-info(ng-if="!$first || ! $last")
        a.md-button
          md-icon(md-font-icon='fa fa-exclamation')
          | Slip [[ $index + 1 ]] of [[ orderSlipMap[order.id].length ]]
      .section.products
        .product(ng-repeat='ofp in orderSlip.products', ng-class="{'text-green': ofp.filled}")
          div(horizontal='', layout='row')
            md-icon(md-font-icon='fa fa-star', ng-visible="ofp.is_starred")
            .order-description(flex='')
              | !{' '}
              span(ng-bind='ofp.description')
            md-button.md-icon-button.md-mini(ng-click='toggleFillOrderProduct(ofp, order)', ng-show='!ofp.filled')
              md-icon(md-font-icon='fa fa-square-o')
              md-tooltip
                | Product is not filled
            md-button.md-icon-button.md-mini(ng-click='toggleFillOrderProduct(ofp, order)', ng-show='ofp.filled')
              md-icon(md-font-icon='fa fa-check-square-o text-green')
              md-tooltip
                | Product is filled
    div(layout="column", layout-align="end")
      div
        div
          include ./_order-comment
        div(layout="row")
          div
            include ./_order-payment-status-button
          div
            include ./_order-payment-method-button
          div(flex="")
          div
            include ./_order-created-button
      .order-flags(ng-show='!order.order_flags.isEmpty()')
        md-button(ng-repeat='flag in order.$orderFlags track by flag.id', aria-label='[[ flag.name ]]')
          md-icon(md-font-icon='fa fa-flag')
          | !{' '}
          span(ng-bind='flag.name')
      md-divider.section-divider
      .section
        div(horizontal='', layout='')
          div(flex='')
            span(ng-bind="order.date | date:'mediumDate'")
          .text-center(flex='')
            span(ng-bind="order.custom_price | currency")
          .text-right(flex='')
            span(ng-if='order.time', ng-bind="order.time | parseTime | date:'shortTime'")
            span(ng-if='!order.time')
              | (Unknown)