div(flex="80")
  div(layout="column", layout-gt-sm="row", layout-align="start stretch")
    .md-title.p-vertical-10(flex="")
      i.fa(ng-class="order.$status().iconClass")
        md-tooltip
          span(ng-bind="order.$status().name")
      | !{' '}
      span(ng-bind="order.name")
    .p-vertical-15(flex="", ng-bind="order.$phoneNumber")
    .p-vertical-15(flex="", ng-bind="order.email")
    .p-vertical-15(flex="", ng-bind="order.custom_price | currency")
div(flex="20")
  div(layout="column", layout-gt-sm="row", layout-align="end stretch")
    .p-vertical-15(flex="", ng-bind="order.$dateStr")
    .p-vertical-15(ng-bind="order.$timeStr")
