a.md-button.md-primary(ng-if="order.stripe_invoice_id", ng-href="[[order.stripe_invoice_link]]", target="_blank")
  md-tooltip
    | Order was created by invoice
  md-icon(md-font-icon="fa fa-cc-stripe")
  | !{' '}
  | Invoiced
a.md-button.md-primary(ng-if="order.stripe_charge_id && !order.stripe_invoice_id", ng-href="[[order.stripe_charge_link]]", target="_blank")
  md-tooltip
    | Order was created via online ordering system
  md-icon(md-font-icon="fa fa-cc-stripe")
  | !{' '}
  | Online
