a.md-button.md-default(ng-if="!order.stripe_invoice_id && !order.stripe_charge_id", ng-class="{'md-primary': orderIsPaidOrPendingPayment(order)}")
  md-icon(ng-if="!order.marked_as_paid", md-font-icon='fa fa-credit-card')
  md-icon(ng-if="order.marked_as_paid", md-font-icon='fa fa-credit-card-alt')
  | !{' '}
  | [[order.purchase_status_text]]
a.md-button.md-default(ng-if="order.stripe_invoice_id || order.stripe_charge_id", ng-class="{'md-primary': orderIsPaidOrPendingPayment(order)}")
  md-icon(md-font-icon="fa fa-credit-card-alt")
  | !{' '}
  | [[order.purchase_status_text]]