div(horizontal='', layout='')
  div
    div
      | #
      span(ng-bind='order.reference_id')
  div(flex='', layout="column" layout-align="start end")
    div
      span(ng-if='order.phone_number')
        i.fa.fa-phone
        | !{' '}
        span(ng-bind='order.phone_number | phoneNumber')
    .text-right
      span(ng-if='order.email')
        i.fa.fa-envelope
        | !{' '}
        span(ng-bind='order.email')
