.order-comment.text-details(ng-if='order.comment', layout="row")
  md-icon.ng-isolate-scope.md-font.fa.fa-comment.material-icons(md-font-icon='fa fa-comment', aria-label='Comment')
  | !{' '}
  em.ng-binding(flex="", ng-bind='order.comment')