.order-suggestions(ng-if="$showSuggestions()")
  div(ng-show="$suggestionsFound()")
    h3.text-center
      | Related Orders
    div(layout="row", layout-align="center center")
      md-card.bg-gray-50(flex="25", ng-repeat="order in $suggestions.results")
        md-card-content
          div(layout="row")
            .p-vertical-10.md-title(flex="")
              a.text-reset(ng-bind="order.name")
            md-button.md-icon-button(ng-class="order.$status().labelClass", aria-label="[[ order.$status().name ]]")
              i.fa(ng-class="order.$status().iconClass")
              md-tooltip
                span(ng-bind="order.$status().name")
            span.p-horizontal-5(ng-if="!$sameDate(order.date, date)", aria-label="Order is for another date!")
              md-button.md-icon-button
                md-icon(md-font-icon="fa fa-exclamation")
                md-tooltip
                  | Order is for another date!
          .text-white
            .p-vertical-10
              div
                | #
                span(ng-bind="order.reference_id")
              div
                md-icon(md-font-icon="fa fa-phone")
                | !{' '}
                span(ng-if="order.phone_number", ng-bind="order.phone_number | phoneNumber")
                span(ng-if="!order.phone_number")
                  | (N/A)
              div
                md-icon(md-font-icon="fa fa-calendar-o")
                | !{' '}
                span(ng-bind="order.date | date:'mediumDate'")
            div(ng-show="getShowMoreDetails(order)")
              .p-vertical-10(ng-if="order.email")
                md-icon(md-font-icon="fa fa-envelope")
                | !{' '}
                span(ng-bind="order.email")
              .p-vertical-10
                ul
                  li(ng-show="order.order_products.isEmpty()")
                    | (No products on order)
                  li(ng-repeat="ofp in order.order_products")
                    md-icon(md-font-icon="fa fa-star", tooltip="Special Product" ng-visible="ofp.is_starred")
                    | !{' '}
                    span(ng-bind="ofp.description")
                  li
                    em.text-details-2x(ng-if="order.comment")
                      md-icon(md-font-icon="fa fa-comment")
                      | !{' '}
                      span(ng-bind="order.comment")
              .p-vertical-10
                span(ng-if="order.time", ng-bind="order.time | parseTime | date:'shortTime'")
                span(ng-if="!order.time")
                  | (Unknown time)
            div
              md-button(type="button", ng-click="toggleMoreDetails(order)", aria-label="Show more")
                span(ng-if="!getShowMoreDetails(order)")
                  | Show more
                span(ng-if="getShowMoreDetails(order)", aria-label="Show less")
                  | Show less
  div(ng-show="!$suggestionsFound()")
    span.text-details
      | No related orders found
