
.bocf-box {
  min-width: 50%;
  padding: 30px;
}

.bocf-order-report {
  .order {
    margin: 0;
    padding: 0;

    .section {
      padding: 10px 0;
    }

    .md-title {
      font-size: 24px;
    }
  }

  .order-display {
    margin: auto;
  }

  .logo {
    max-height: 70px;
  }

  .order-no {
    font-size: 1.2em;
  }
}


// hide section from print
.bocf-tools md-tabs-wrapper {
  @media print {
    display: none !important;
  }
}