.bocf-tools(ng-controller='BOCFToolsOrderController')
    // TODO remove?
    //div
    //    input(type='file', ng-model="file", accept=".csv" ngf-select="onFileSelected($files)", ngf-multiple="false")

    md-tabs(md-center-tabs='', md-dynamic-height='', md-selected="selectedIndex")
        md-tab(label='Instructions')
            md-content.md-padding
                h2.md-display-1 Instructions
                div.md-body-1
                    li.p-10
                        | 1. Open the
                        | !{' '}
                        a(href="https://bestofcalgaryfoods.com/dashboard/orders/?order_status=wc-pending", target="_blank")
                            | Best of Calgary Foods orders page
                        | .
                    li.p-10
                        | 2. Find the orders you wish to export by
                        | applying any filters you see fit (e.g. only display "Pending" orders).
                    li.p-10
                        div
                            | 3. Copy this code (Ctrl+C):
                        .p-horizontal-15.code
                            textarea(ng-model="bocfScript", onClick="this.setSelectionRange(0, this.value.length)")
                    li.p-10
                        | 4.
                        | !{' '}
                        a(href="https://developers.google.com/web/tools/chrome-devtools/open")
                            | Open the dev console
                        | !{' '}
                        | (usually Control+Shift+J)
                        | on the BOCF page, paste this code, and press enter.
                    li.p-10
                        | 5. Wait for the program to complete, then paste the output text here:
                        .p-horizontal-15.code
                            textarea(ng-model="bocfOutput", onClick="this.setSelectionRange(0, this.value.length)")
                        div.text-red(ng-if="jsonParseError")
                            | This output looks incorrect! Please try again.

        md-tab(label='Product Totals', ng-disabled='orderConfirmationSlips.length == 0')
            md-content.md-padding
                h2.md-display-1 Product Totals
                div.text-details
                    | Please use these totals to create/update the appropriate orders!
                p.md-body-1
                div
                    div(ng-repeat="orderTotal in orderTotals" ng-if="deliveryDaysEnabled[orderTotal.deliveryDay]")
                        div
                          span.md-title(ng-bind="orderTotal.deliveryDay || '(Unknown)'")
                          md-button.md-icon-button(aria-label='Open options menu', ng-click='hideDeliveryDay(orderTotal.deliveryDay)')
                            md-icon(md-font-icon='fa fa-remove')
                            md-tooltip
                              | Remove Date
                        div(ng-repeat="productTotal in orderTotal.productTotals")
                            | [[productTotal.quantity]] x [[productTotal.name]]

        md-tab(label='Print Labels', ng-disabled='orderConfirmationSlips.length == 0')
            md-content.md-padding
                // Inject @page styling into DOM dynamically
                style(type="text/css" media="print" ng-bind="printMethod.pageStyle")
                .bocf-order-report.label-paper
                    .order-display(ng-show='!$loading')
                        .order-wrapper(ng-repeat="orderConfirmationSlip in orderConfirmationSlips" ng-if="deliveryDaysEnabled[orderConfirmationSlip.deliveryDay]")
                            md-card.order
                                md-card-content.order-content(layout="column")
                                    div(flex="", layout="column", layout-align="start stretch")
                                        .section
                                            .md-title.text-center
                                                | Thank you for placing your order with us!
                                        .section.order-no
                                            .text-center
                                                | Order #: [[ orderConfirmationSlip.orderNo ]]
                                        .section
                                            .text-center
                                                | Name: [[ orderConfirmationSlip.name ]]
                                    div(flex="")
                                        .section
                                            div(layout="column", layout-align="center center")
                                                div(ng-repeat="orderProduct in orderConfirmationSlip.orderProducts")
                                                    | [[orderProduct.quantity]] x [[orderProduct.name]]
                                    div(layout="column", layout-align="end")
                                        div(layout="row", layout-align="space-around")
                                            img.logo(src=require('../../assets/img/bocf-logo.png'))
                                            img.logo(src=require('../../assets/img/logo-greyscale.png'))
                                        md-divider.section-divider
                                        .section.text-center(ng-bind="orderConfirmationSlip.deliveryDay|| '(Unknown)'")
                            .order-divider.no-print

                md-fab-speed-dial.md-speed-dial-fixed.no-print(md-direction='up')
                    md-fab-trigger
                        md-button.md-fab.md-warn(aria-label='menu', ng-click='print()')
                            md-icon(md-font-icon='fa fa-print')
                            md-tooltip
                                | Print Report

    div(ng-if='$loading')
        include ../generic/partials/full-loader
