md-sidenav.md-sidenav-left.md-whiteframe-z2.gb-sidebar(ng-cloak='', layout='column', md-component-id='left', ng-if='userSession.$loaded && userSession.data.loggedIn')
  md-toolbar.md-tall
    span(flex='')
    .md-toolbar-tools-bottom.inset(layout='column')
      user-avatar
      span
      div(ng-if='userSession.data.loggedIn')
        | [[ userSession.data.profile.email ]]
  md-list
    md-subheader Feedback
    md-button.gb-menu-button.md-green(href='https://docs.google.com/forms/d/e/1FAIpQLSd5EkqNjWyTgHZ226-VPn5SiaOWW9seZXAv56njIfO_-zQMXQ/viewform', target='_blank')
      md-icon.text-green(md-font-icon='fa fa-comments')
      | Request New Feature
    md-button.gb-menu-button.md-warn(href='https://docs.google.com/forms/d/e/1FAIpQLSfIyw1658d8WF-wONmOYIU5-hp6-667hQTPCrn_MG6fUVdzSA/viewform', target='_blank')
      md-icon(md-font-icon='fa fa-exclamation-triangle')
      | Report Site Issue
    md-button.gb-menu-button(href='https://docs.google.com/forms/d/e/1FAIpQLSf7g3kPyk7tMdW_Xz2xGQSV2ViRNLT8X6rNO9V0OYvNxUcdcA/viewform?usp=sf_link', target='_blank')
      md-icon(md-font-icon='fa fa-birthday-cake')
      | Request Cake Change
    md-divider
    md-subheader Orders
    md-button.gb-menu-button(href='/orders/pickup', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-check')
      | Pickup Orders
    md-button.gb-menu-button(href='/orders/fill', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-thumbs-up')
      | Fill Orders
    md-button.gb-menu-button(href='/orders/stats', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-bar-chart')
      | Stats
    md-button.gb-menu-button(href='/', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-list')
      | All Orders
    md-button.gb-menu-button(href='/orders/verify', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-check-square-o')
      | Verify Orders
    md-button.gb-menu-button(href='/orders/new', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-plus')
      | New Order
    md-button.gb-menu-button(href='/bocf/tools', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-truck')
      | BOCF Tools
    md-divider
    md-subheader Reports
    md-button.gb-menu-button(href='/reports/products', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-print')
      | Product Report
    md-button.gb-menu-button(href='/reports/orders', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-print')
      | Order Report
    md-divider
    md-subheader Other
    md-button.gb-menu-button(href='https://drive.google.com/drive/u/0/folders/0BxIS5b966gn7YnJNTmF2VGJJcGM', target='_blank', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-calendar-o')
      | Schedule
    md-button.gb-menu-button(href=app.url + '/admin/', target='_blank', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-gear')
      | Admin
    md-button.gb-menu-button(href='/users/logout', ng-click='closeSidebar()')
      md-icon(md-font-icon='fa fa-sign-out')
      | Logout
