doctype html
html(lang='en', ng-app='dApp', ng-strict-di='')
  head
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    link(rel='icon', type='image/png', href=require('../assets/img/favicon.ico'))
    base(href='/')

    // Angular init cloak
    style(type='text/css').
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }

      .cloak {
        display: none;
      }

      .loader {
        padding: 30px;
        text-align: center;
      }

      .spinner {
        display: inline-block;
      }
    title(page-title='Not Found' pattern='%s | Glamorgan Bakery')
      | Dashboard | Glamorgan Bakery
  body.ng-cloak.cloak(layout='column')
    md-toolbar.gb-toolbar.no-print
      .md-toolbar-tools
        md-button.md-icon-button(aria-label='Settings', ng-click='toggleSidebar()', ng-visible='userSession.$loaded && userSession.data.loggedIn')
          md-icon(md-font-icon='fa fa-bars')
        a.logo-wrapper(href='/')
          img.logo(src=require('../assets/img/logo.png'))
        span(flex='', ng-cloak='')
          h1(page-title='Not Found')
    div(layout='row', flex='')
      include navigation/sidebar
      #content(layout='column', flex='')
        block content
    include generic/partials/browser-update
    block partials
  .loader
    md-progress-circular.spinner