// TODO oauth redirect? Security issue with schedule link
div(ng-controller="LoginController")
    section(layout="row" layout-sm="column" layout-align="center center")
        md-card(class="login-box")
            h2
                | Login
            div(ng-show="!login.$submitting")
                form(name='login', class="separate-sections" app-form-submit="doLogin()" ng-cloak)
                    div(horizontal layout wrap)
                        md-input-container(flex='')
                            label
                                | Email Address
                            input(type="email", name="email", ng-model="data.email")
                    div(horizontal layout wrap)
                        md-input-container(flex='')
                            label
                                | Password
                            input(type="password", name="password", ng-model="data.password")
                    div(horizontal layout wrap center-justified class="login-submit")
                        div
                            button(type="submit" class="md-raised md-primary md-button md-default-theme")
                                | Login
            div(ng-show="login.$submitting")
                include ../generic/partials/full-loader
