@import '../_constants';
@import '../_mixins';

// Make toolbars red by default
md-toolbar:not(.md-menu-toolbar) {
  background: $main-red-color;
}

.md-speed-dial-fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.gb-toolbar {
  .logo-wrapper, .logo {
    height: 100%;
  }
}
