@import '../_constants';

//******Editor table styling******
.editor-table .basic-info div, .editor-table .more-details div {
  display: inline-table;
  height: 20px;
  margin: 2px 0;
}

.editor-table {
  width: 100%;
}

//Header
.editor-table thead, .editor-table .thead {
  color: $black;
  font-weight: bold;
  font-size: 2em;
}

.editor-table tbody td {
  padding: 3px 0px;
}

.editor-table .odd {
  background: $gray-light-45;
}

.editor-table .editor-fields {
  text-align: right;
  width: 90px;
}

.editor-form {
  //width: $editor-form-width;
  margin: 0 auto;
}

.editor-fields .editor-field {
  //margin: $editor-field-margin;
}

.editor-fields .editor-field .editor-label {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  float: left;
  //width: $editor-label-width;
}

.editor-fields .editor-field .editor-input {
  //width: $editor-input-width;
}
