$main-red-color: #ba0000;

//Main colors
$green: #259b24;
$red: #f44336;
$yellow: #e8d831;
$light-green: #8bc34a;
$blue: #3f51b5;
$light-blue: #29b6f6;
$gray: #758294;
$black: #000000;
$teal: #26c6da;
$cyan: #26a69a;
$white: #ffffff;
$text-details: #777;

//Gray shades
$gray-light-15: lighten($gray, 15%);
$gray-light-30: lighten($gray, 30%);
$gray-light-45: lighten($gray, 45%);
