@import '_constants';

/*************** MEDIA QUERY MIXINS ******************/

//Generic transition mixin
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin md-button-raised-variant($main, $accent) {
  color: $main;

  &.md-raised {
    &, &:not([disabled]):hover {
      color: $accent;
      background: $main;
    }

    > md-icon {
      color: $accent;
    }

    &[disabled] {
      opacity: 0.8;
    }
  }
}

@mixin bg-variant($color, $opacity) {
  background: rgba($color, $opacity);
}
