@import '_constants';
@import '_mixins';

//*************************************BASE STYLES*************************************

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

//******Hides items that should not be shown before AngularJS is loaded******
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

//*************************************GENERIC HELPER STYLES*************************************

//Hides items. Used for postLoadHide directive
.hidden {
  display: none;
}

.align-bottom {
  vertical-align: bottom;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fade-until-hover {
  opacity: 0.85;
}

.fade-until-hover:hover {
  opacity: 1;
}

.full-width {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

//******Margin helpers******

.padded {
  padding: 15px;
}

.m-clear {
  margin: 0 0;
}

.m-horizontal-5 {
  margin: 0 5px;
}

.m-horizontal-10 {
  margin: 0 10px;
}

.m-vertical-5 {
  margin: 0 5px;
}

.m-vertical-15 {
  margin: 0 15px;
}

//******Padding helpers******
.p-clear {
  padding: 0 0;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-vertical-5 {
  padding: 5px 0;
}

.p-vertical-10 {
  padding: 10px 0;
}

.p-vertical-15 {
  padding: 15px 0;
}

.p-vertical-30 {
  padding: 30px 0;
}

.p-horizontal-5 {
  padding: 0 5px;
}

.p-horizontal-15 {
  padding: 0 15px;
}

.p-horizontal-30 {
  padding: 0 30px;
}

.nowrap {
  white-space: nowrap;
}

//Allows for centering of nav items, such as front product display
.centered-nav {
  &, & > li {
    vertical-align: top;
  }

  & {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  & > li {
    display: inline-block;
    float: none;
  }
}

//*************************************STYLES FOR COMMON ELEMENTS*************************************

//******Styling for G+, Facebook, Twitter social icons******
.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

.social-icons a {
  display: inline-block;
  margin: 2px;
  padding: 0;
}

//Hide HTML 5 number spinboxes
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//******Main menu styling******
.main-menu .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.main-menu .navbar-brand img {
  height: 50px;
}

//******Styling for GB image in admin/order page layout******
.menu-img {
  height: 20px;
}

// Increase size of all font awesome icons
md-icon.fa {
  font-size: 1.38em;
}

md-fab-speed-dial {
  md-fab-actions {
    .md-button.md-fab md-icon {
      color: $gray;
    }
  }

  .md-fab:hover, .md-fab.md-focused {
    background-color: #000 !important;
  }
}

.text-reset {
  color: black;
  text-decoration: none;
}

.pagination {
  .prev, .next {
    margin: 0;
  }

  .middle {
    text-align: center;
  }
}

.md-toast {
  position: fixed;
  .icon {
    padding-right: 10px;
  }
}

// Shift font-awesome icons slightly down in mini fab button
.md-button.md-fab.md-mini md-icon.fa {
  padding-top: 3px;
}

//Text alterations
* {
  &.text-details {
    color: $text-details;
  }

  &.text-red {
    color: $red;
  }

  &.text-green {
    color: $green;
  }

  &.text-yellow {
    color: $yellow;
  }

  &.text-light-green {
    color: $light-green;
  }

  &.text-white {
    color: $white;
  }

  &.text-center {
    text-align: center;
  }
}

// Background alterations
.bg-red-50 {
  @include bg-variant($red, 0.5);
}

.bg-yellow-50 {
  @include bg-variant($yellow, 0.5);
}

.bg-green-50 {
  @include bg-variant($green, 0.5);
}

.bg-gray-50 {
  @include bg-variant($gray, 0.5);
}

.bg-light-blue-50 {
  @include bg-variant($light-blue, 0.5);
}

.btn-block {
  width: 100%;
  margin: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// Add white background to datepicker
.md-datepicker-calendar-pane {
  background: $white;
}

//Print selectors
@media print {
  // hide sections from print
  .no-print, .no-print * {
    display: none !important;
  }

  .page-break {
    //Creates a page break after the div
    page-break-after: always;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.datepicker-wrapper {
  padding-top: 17px;
}


.radio-button-wrapper {
  padding-top: 17px;
}

.text-padding {
  padding-top: 10px;
}

//Extra button styling
.md-button {
  &.md-green {
    @include md-button-raised-variant($green, $white);
  }
}

.ng-invisible {
  visibility: hidden;
}

.not-found {
  margin: 40px auto;
  color: $text-details;
  text-align: center;
}

.gb-sidebar {
  .gb-menu-button {
    width: 100%;
    text-align: left;

    md-icon {
      padding: 0 20px;
    }
  }
}

.clickable {
  cursor: pointer;
}
