@import '../_constants';

.product-report {
  font-size: 14px;

  .category-name {
    font-weight: bold;
    font-size: 16px;
  }
  .products {
    margin: 0 0 20px 0;
  }
  .product {
    margin: 5px 15px;
    ul.product-details {
      color: $text-details;
      margin: 0 50px;
    }
  }

  .no-products-found {
    margin: 5px 15px;
    color: $text-details;
  }
}

// Changes for 'Label Paper' section only
.label-paper {
  .order-display, .order-wrapper {
    width: 4in;
  }

  .order {
    box-shadow: none;
    page-break-after: always;
  }

  .product {
    margin-bottom: -5px;
    max-height: 50px;
  }

  .order-content {
    min-height: 6in;
  }

  .section-divider {
    border-top-color: black;
    margin: 0 -10px;
  }
}

// Changes for 'Regular Paper' section only
.regular-paper {
  .order-display {
    width: 8.5in;
  }

  .order-wrapper {
    width: 4.2in;
    padding: 5px 2px;
  }

  .order {
    min-width: 350px;
  }
}

.order-report {
  .order {
    margin: 0;
    padding: 0;

    .section {
      padding: 10px 0;
    }

    .md-title {
      font-size: 16px;
    }

    .product {
      margin-top: -5px;
      overflow: hidden;

      padding-left: 1.5em;
      text-indent:-1.5em;
    }

    .order-slip-info {
      text-align: center;
      margin-bottom: -15px;
    }

    .order-comment {
      font-size: 0.8em;

      md-icon {
        padding-right: 3px;
      }
    }

    .order-content {
      padding: 0 10px;
    }

    .order-description {
      padding-top: 5px;
    }
  }

  .order-display {
    margin: auto;
  }

  .products {
    overflow: hidden;
  }

  .md-button {
    margin: -5px 0;
    padding: 0 2px;
  }
}

.order-divider {
  height: 20px;
}
