.order-report(ng-cloak='', ng-controller='OrdersReportController', ng-class="printMethod.id")
  // Inject @page styling into DOM dynamically
  style(type="text/css" media="print" ng-bind="printMethod.pageStyle")
  md-fab-speed-dial.md-speed-dial-fixed.no-print(md-direction='up')
    md-fab-trigger
      md-button.md-fab.md-warn(aria-label='menu', ng-click='printReport()')
        md-icon(md-font-icon='fa fa-print')
        md-tooltip
          | Print Report
  .no-print(horizontal='', layout='')
    .datepicker-wrapper.p-horizontal-5
      md-datepicker(ng-model='date', md-placeholder="Select Date")
    .datepicker-wrapper.p-horizontal-5
      md-radio-group(ng-model='printMethod', layout="row")
        span.p-horizontal-5
          | Print onto
        md-radio-button(ng-repeat="printMethod in PRINT_METHOD_LIST" ng-value="printMethod")
          | [[ printMethod.name ]]
    div(flex='')
    md-menu
      md-button.md-icon-button(aria-label='Open options menu', ng-click='$mdMenu.open($event)')
        md-icon(md-font-icon='fa fa-filter')
        md-tooltip
          | Search Options
      md-menu-content(width='4')
        md-menu-item
          md-button(ng-click='togglePickedUpOrders()', aria-label='Toggle filled orders')
            span(ng-if='params.picked_up != false')
              md-icon(md-font-icon='fa fa-eye-slash')
              | Hide picked up orders
            span(ng-if='params.picked_up == false')
              md-icon(md-font-icon='fa fa-eye')
              | Show picked up orders
        md-menu-item
          md-button(ng-click='toggleCancelledOrders()', aria-label='Toggle filled orders')
            span(ng-if='params.cancelled != false')
              md-icon(md-font-icon='fa fa-eye-slash')
              | Hide cancelled orders
            span(ng-if='params.cancelled == false')
              md-icon(md-font-icon='fa fa-eye')
              | Show cancelled orders
        md-menu-divider
        md-menu-item(ng-repeat='orderFlag in orderFlags')
          md-button(ng-if='!(params.orderFlags|contains:orderFlag.id)', ng-click='$addOrderFlag(orderFlag.id)')
            i.fa.fa-flag-o
            | !{' '}Filter by!{' '}
            span(ng-bind='orderFlag.name')
          md-button(ng-if='params.orderFlags|contains:orderFlag.id', ng-click='$removeOrderFlag(orderFlag.id)')
            i.fa.fa-flag
            | !{' '}Filter by!{' '}
            span(ng-bind='orderFlag.name')
        md-menu-divider
        md-menu-item(ng-repeat='orderFlag in orderFlags')
          md-button(ng-if='!(params.orderFlagsOmit|contains:orderFlag.id)', ng-click='$addOrderFlagOmit(orderFlag.id)')
            i.fa.fa-flag-o
            | !{' '}Exclude by!{' '}
            span(ng-bind='orderFlag.name')
          md-button(ng-if='params.orderFlagsOmit|contains:orderFlag.id', ng-click='$removeOrderFlagOmit(orderFlag.id)')
            i.fa.fa-flag
            | !{' '}Exclude by!{' '}
            span(ng-bind='orderFlag.name')
  md-divider.no-print
  .order-display(ng-show='!$loading')
    div(ng-show='dateSelected()')
      div(ng-show='!orders.isEmpty()')
        .editor-table.text-left(layout='row', layout-wrap='', layout-align='space-around stretch')
          div(ng-if="printMethod.id == 'regular-paper'", ng-repeat='order in orders | orderReportFilter:params track by order.id')
            div(layout="row")
              .order-wrapper(ng-repeat='orderSlip in orderSlipMap[order.id] track by orderSlip.$id')
                include ../orders/includes/_order-slip
          div(ng-if="printMethod.id == 'label-paper'", ng-repeat='order in orders | orderReportFilter:params track by order.id')
            div(layout="column")
              .order-wrapper(ng-repeat='orderSlip in orderSlipMap[order.id] track by orderSlip.$id')
                .no-print.text-details
                  | Page [[ orderSlip.$pageNo ]]/[[ totalNumPages ]]
                include ../orders/includes/_order-slip
                .order-divider.no-print
      div(ng-show='orders.isEmpty()')
        .not-found
          | No Orders Found!
    .text-details.center.padded(ng-show='!dateSelected()')
      | Please select a date!
  div(ng-if='$loading')
    include ../generic/partials/full-loader
