div(ng-cloak="", ng-controller="ProductsReportController")
  md-fab-speed-dial.md-speed-dial-fixed.no-print(md-direction="up")
    md-fab-trigger
      md-button.md-fab.md-warn(aria-label="menu", ng-click="printReport()")
        md-icon(md-font-icon="fa fa-print")
        md-tooltip
          | Print Report
  .no-print(horizontal="", layout="")
    .datepicker-wrapper
      md-datepicker(ng-model="date", md-placeholder="Select Date")
    div(flex="")
  md-divider.no-print
  .padded(ng-show="!$loading")
    div(ng-show="dateSelected()")
      //Front totals
      .page-break
        h3.text-center
          | Front Totals  -
          |
          span(ng-bind="date | date:'longDate'")
        .product-report.text-left
          div(ng-repeat="category in categories")
            .category-name
              span(ng-bind="category.name")
            .products
              div(ng-show="!category.$frontProducts.isEmpty()")
                div(class="p-vertical-15 text-details" ng-if="category.product_supplier_message")
                  strong(ng-bind="category.product_supplier_message")
                .product(ng-repeat="product in category.$frontProducts")
                  .product-total
                    md-icon(md-font-icon="fa fa-star", tooltip="Special Product" ng-visible="product.is_starred")
                    | !{' '}
                    span(ng-bind="$productQuantity(product.quantity, product.quantity_type) | productQuantity")
                    | !{' '}
                    span(ng-bind="$quantityType(product.quantity_type).shortName2")
                    | !{' '}
                    span(ng-bind="product.name")
                  div(layout="row")
                    div
                      ul.product-details
                        li(ng-show="val > 0", ng-repeat="(key, val) in product.quantities_by_type")
                          span(ng-bind="$productQuantity(val, key) | productQuantity")
                          | !{' '}
                          span(ng-bind="$quantityType(key).name")
                    div(flex="").text-right
                      ul.product-details
                        li(ng-show="product.quantities_by_order.length > 0", ng-repeat="val in product.quantities_by_order | limitTo:MAX_PRODUCTS_BY_ORDER")
                          span(ng-bind="val.order__name")
                          | !{' '}-!{' '}
                          span(ng-bind="$productQuantity(val.total_quantity, product.quantity_type) | productQuantity")
                          | !{' '}
                          span(ng-bind="$quantityType(product.quantity_type).shortName2")
                        li(ng-if="product.quantities_by_order.length > MAX_PRODUCTS_BY_ORDER")
                          | +
                          | !{' '}
                          span(ng-bind="product.quantities_by_order.length - MAX_PRODUCTS_BY_ORDER")
                          | !{' '}
                          | others
              .no-products-found(ng-show="category.$frontProducts.isEmpty()")
                | No products found
          div(ng-show="!specialProductStats.isEmpty()")
            .category-name
              | Special Products
            .products
              div(class="p-vertical-15 text-details")
                strong
                  | Please ensure these products are set aside as soon as possible!
              .product(ng-repeat="product in specialProductStats")
                .product-total
                  div(layout="row")
                    div
                      md-icon(md-font-icon="fa fa-star", tooltip="Special Product" ng-visible="product.is_starred")
                      | !{' '}
                      span(ng-bind="$productQuantity(product.totals.total, product.quantity_type) | productQuantity")
                      | !{' '}
                      span(ng-bind="$quantityType(product.quantity_type).shortName2")
                      | !{' '}
                      span(ng-bind="product.name")
                    div(flex="").text-right
                      ul.product-details
                        li
                          span(ng-bind="product.order_name")
      //Baker totals
      .page-break
        h3.text-center
          | Baker Totals  -
          |
          span(ng-bind="date | date:'longDate'")
        .product-report.text-left
          div(ng-repeat="category in categories")
            .category-name
              span(ng-bind="category.name")
            .products
              div(ng-show="!category.$bakerProducts.isEmpty()")
                .product(ng-repeat="product in category.$bakerProducts")
                  .product-total
                    md-icon(md-font-icon="fa fa-star", tooltip="Special Product" ng-visible="product.is_starred")
                    | !{' '}
                    span(ng-bind="$productQuantity(product.quantity, product.quantity_type) | productQuantity")
                    | !{' '}
                    span(ng-bind="$quantityType(product.quantity_type).shortName2")
                    | !{' '}
                    span(ng-bind="product.name")
              .no-products-found(ng-show="category.$bakerProducts.isEmpty()")
                | No products found
          div(ng-show="!specialProductStats.isEmpty()")
            .category-name
              | Special Products
            .products
              .product(ng-repeat="product in specialProductStats")
                .product-total
                  md-icon(md-font-icon="fa fa-star", tooltip="Special Product" ng-visible="product.is_starred")
                  | !{' '}
                  span(ng-bind="$productQuantity(product.totals.total, product.quantity_type) | productQuantity")
                  | !{' '}
                  span(ng-bind="$quantityType(product.quantity_type).shortName2")
                  | !{' '}
                  span(ng-bind="product.name")
    .text-details.center.padded(ng-show="!dateSelected()")
      | Please select a date!
  div(ng-if="$loading")
    include ../generic/partials/full-loader
