.page-manager-display {
  width: 250px;
  position: relative;
  line-height: 30px;
  margin: 10px auto 20px auto;
  display: block;

  .previous {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
  }
  .next {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
  .info {
    text-align: center;
  }
}
