md-dialog(aria-label="Move Order Locations")
    form(name="moveOrderLocationsForm", ng-submit="moveOrderLocations()" ng-show="!$loading")
        md-toolbar
            .md-toolbar-tools
                h2
                    | Move Order Locations
                span(flex="")
                md-button.md-icon-button(ng-click="cancel()")
                    md-icon(md-font-icon="fa fa-remove", aria-label="Close dialog")
        md-dialog-content(style="max-width:800px;max-height:810px;")
            .md-dialog-content
                .input-form
                    div(horizontal="", layout="")
                        div(flex="")
                            md-icon(md-font-icon="fa fa-map-marker")
                            md-input-container
                                label
                                    | Location to move from
                                md-select(aria-label='Location to move from', ng-model='data.src_location',
                                        ng-required='orderFrontProductRequired(ofp)')
                                    md-option(ng-repeat='location in locations', value='[[ location.id ]]')
                                        | [[ location | orderLocationDisplay ]]
                            md-icon(md-font-icon="fa fa-arrow-right")
                            md-input-container
                                label
                                    | Location to move to
                                md-select(aria-label='Location to move to', ng-model='data.dest_location',
                                        ng-required='orderFrontProductRequired(ofp)')
                                    md-option(ng-repeat='location in locations', value='[[ location.id ]]')
                                        | [[ location | orderLocationDisplay ]]
        md-dialog-actions(layout="row")
            span(flex="")
            md-button(ng-disabled="moveOrderLocationsForm.$invalid", type="submit")
                md-icon(md-font-icon="fa fa-check")
                | Move
            md-button(ng-click="cancel()", style="margin-right:20px;")
                md-icon(md-font-icon="fa fa-times")
                | Cancel
    div(ng-if="$loading")
        include ../../generic/partials/full-loader