md-dialog(aria-label="WARNING")
    .padded.bg-yellow-50
        md-dialog-content(style="max-width:800px;max-height:810px;")
            h2
                i.fa.fa-warning
                | WARNING
            .md-dialog-content
                p
                    | Order
                    strong
                        | #
                        span(ng-bind="order.reference_id")
                        |             (
                        span(ng-bind="order.name")
                        | )
                    | is being picked up before being filled!
        md-dialog-actions(layout="row")
            span(flex="")
            md-button(ng-click="ok()", style="margin-right:20px;")
                md-icon(md-font-icon="fa fa-check")
                | Mark as Filled
            md-button.md-primary(ng-click="cancel()", style="margin-right:20px;")
                md-icon(md-font-icon="fa fa-times")
                | Ignore
