md-dialog(aria-label="'Success!'")
    .padded.bg-green-50
        md-dialog-content(style="max-width:800px;max-height:810px;")
            h2
                i.fa.fa-check
                span
                    | Success
            .md-dialog-content
                p
                    span
                        | Order
                        strong
                            | #
                            span(ng-bind="order.reference_id")
                        | created!
                p
                    span(ng-if="order.location")
                        | Please ensure that the order is placed
                        strong(ng-bind="order.location | orderLocationDisplay")
        md-dialog-actions(layout="row")
            span(flex="")
            md-button(ng-click="ok()", style="margin-right:20px;")
                md-icon(md-font-icon="fa fa-check")
                | Got it!
