md-dialog(aria-label="[[ order.filled ? 'Success!' : 'WARNING' ]]")
    .padded(ng-class="{'bg-yellow-50': !order.filled, 'bg-green-50': order.filled}")
        md-dialog-content(style="max-width:800px;max-height:810px;")
            h2
                i.fa(ng-class="order.filled ? 'fa-check' : 'fa-warning'")
                span(ng-bind="order.filled ? 'Success!' : 'WARNING'")
            .md-dialog-content
                p
                    span(ng-if="order.filled")
                        | Order!{' '}
                        strong
                            | #
                            span(ng-bind="order.reference_id")
                        | !{' '}picked up!
                    span(ng-if="!order.filled")
                        strong
                            | Order has not been filled!
                p
                    span(ng-if="order.location")
                        | You can find it!{' '}
                        strong(ng-bind="order.$location | orderLocationDisplay")
                    span(ng-if="!order.location")
                        | Your order's location is!{' '}
                        strong unknown
        md-dialog-actions(layout="row")
            span(flex="")
            md-button(ng-click="ok()", style="margin-right:20px;")
                md-icon(md-font-icon="fa fa-check")
                | Got it!
