md-dialog(aria-label="Select Order Location")
	form
		md-dialog-content(style="max-width:800px;max-height:810px;")
			.md-dialog-content
				h4.text-center
					| Which products are available?
				md-input-container.md-icon-float(flex="")
					label
						| Search
					md-icon(md-font-icon="fa fa-search")
					input.order-search.form-control(focus-default="", ng-model="params.q", type="text", enter-key-event="pickupOrderEnterEvent()", ng-change="hideAllOrderDetails()")
				.animate-fade-in.animate-fade-out.animate-fade-move(ng-repeat="product in products | filter:params.q | orderBy:['$available', 'name']")
					div(horizontal="", layout="")
						md-checkbox.md-icon-button(aria-label="[[ product.name ]]", ng-change="toggleProductNotReady(product)", ng-model="product.$available")
							span(ng-bind="product.name")
		md-dialog-actions(layout="row")
			span(flex="")
			md-button(ng-click="ok()", style="margin-right:20px;")
				md-icon(md-font-icon="fa fa-check")
				| Done
