md-dialog(aria-label="Quick Add Order")
    form(name="quickAddOrderForm", ng-submit="saveQuickOrder()")
        md-toolbar
            .md-toolbar-tools
                h2
                    | Quick Add Order
                span(flex="")
                md-button.md-icon-button(ng-click="cancel()")
                    md-icon(md-font-icon="fa fa-remove", aria-label="Close dialog")
        md-dialog-content(style="max-width:800px;max-height:810px;")
            .md-dialog-content
                .md-caption.text-center
                    md-icon(md-font-icon="fa fa-exclamation-circle")
                    strong
                        | !{' '}Important:
                    | !{' '}Only use this to place orders for today!
                    | To add an order for a different day,!{' '}
                    a.alert-link(ng-click="cancel()", href="/orders/new?close_on_save=true", target="_blank")
                        | click here
                    | .
                .input-form
                    div(horizontal="", layout="")
                        div(flex="")
                            md-input-container
                                label
                                    | Customer name
                                input(ng-model="order.name", ng-required="true", focus-me="focusFirst")
                        div(flex="")
                            md-input-container
                                label
                                    | !{' '}
                                input(ng-model="order.phone_number", ui-mask="(999)999-9999")
                    div
                        div(ng-repeat="ofp in order.order_products")
                            div(horizontal="", layout="")
                                div
                                    md-button.md-icon-button.md-default(type='button')
                                        md-icon(md-font-icon='fa fa-star')
                                        md-tooltip
                                            | Special Product
                                div(flex='')
                                    md-input-container.full-width
                                        label
                                            | Product Name
                                        input(aria-label='Product Name', type='text', ng-model='ofp.name', ng-required='orderFrontProductRequired(ofp)')
                                md-input-container(flex='')
                                    label
                                        | Quantity
                                    input(aria-label='Quantity', type='number', integer='', min='1', ng-model='ofp.quantity', ng-required='orderFrontProductRequired(ofp)')
                                div(flex='')
                                    md-input-container.full-width
                                        label
                                            | Quantity Type
                                        md-select(aria-label='Quantity type', ng-model='ofp.quantity_type', ng-required='orderFrontProductRequired(ofp)')
                                            md-option(ng-repeat='dt in $quantityTypes', value='[[ dt.id ]]')
                                                | [[ dt.name ]]
                                div
                                    md-button.md-icon-button.md-default(type='button', ng-click='removeOrderProduct(ofp)')
                                        md-icon(md-font-icon='fa fa-times-circle')
                                        md-tooltip
                                            | Remove Product
                        .text-right
                            md-button.md-icon-button(type="button", ng-click="addSpecialProduct()")
                                md-icon(md-font-icon="fa fa-plus-circle text-success")
                                md-tooltip
                                    | Add product
                    md-input-container
                        label
                            | Comments
                        textarea(ng-model="order.comment")
                    div
                        span.p-horizontal-5(ng-repeat="flag in orderFlags")
                            a.md-button.md-default(ng-show="!orderHasFlag(flag)", ng-click="addOrderFlag(flag)", style="opacity: 0.7")
                                md-icon(md-font-icon="fa fa-flag-o")
                                | !{' '}
                                span(ng-bind="flag.name")
                                md-tooltip
                                    | Mark for
                                    | [[ flag.name ]]
                            a.md-button.md-primary(ng-show="orderHasFlag(flag)", ng-click="removeOrderFlag(flag)")
                                md-icon(md-font-icon="fa fa-flag")
                                span(ng-bind="flag.name")
                                md-tooltip
                                    | Unmark for
                                    | [[ flag.name ]]
                    div
                        div(horizontal="", layout="")
                            .datepicker-wrapper
                                md-datepicker(ng-required="true", ng-model="order.date", md-placeholder="Select Date")
                            div(flex="")
                                md-autocomplete(aria-label="Time", md-search-text="$timeSearch", md-items="item in $timeOptions | filter:$timeSearch | pluck:'str'", md-item-text="getTimeStr(item)", md-selected-item="order.time", md-min-length="0", md-floating-label="Time")
                                    md-item-template
                                        span(ng-cloak="", md-highlight-text="$timeSearch")
                                            | [[ getTimeStr(item) ]]
                                    md-not-found
                                        | No time found.
                    div
                        md-checkbox(ng-model="order.filled")
                            | Already filled
                            span.text-details
                                | !{' '}(be sure to mark the items on the shelf with the order's ID!)
        md-dialog-actions(layout="row")
            span(flex="")
            md-button(ng-disabled="quickAddOrderForm.$invalid", type="submit")
                md-icon(md-font-icon="fa fa-check")
                | Save
            md-button(ng-click="cancel()", style="margin-right:20px;")
                md-icon(md-font-icon="fa fa-times")
                | Cancel




