md-dialog(aria-label="Select Order Location")
	form
		md-toolbar
			.md-toolbar-tools
				h2
					| Select Order Location
				span(flex="")
				md-button.md-icon-button(ng-click="cancel()")
					md-icon(md-font-icon="fa fa-remove", aria-label="Close dialog")
		md-dialog-content(style="max-width:800px;max-height:810px;")
			.md-dialog-content
				h4.text-center
					| Where will the order be located?
				md-input-container
					label
						| Quick select: Type the order location's ID
					input(focus-default="", ng-change="findOrderLocationByID(hotkey)", ng-model="hotkey")
				div(ng-repeat="location in locations")
					div(horizontal="", layout="", ng-click="chooseOrderLocation(location)")
						md-button.md-icon-button(aria-label="[[ location | orderLocationDisplay ]]")
							md-icon(md-font-icon="fa fa-square-o")
						.p-vertical-10(flex="", ng-bind="location | orderLocationDisplay")
		md-dialog-actions(layout="row")
			span(flex="")
			md-button(ng-click="cancel()", style="margin-right:20px;")
				md-icon(md-font-icon="fa fa-times")
				| Cancel
